@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: @apply bg-veryDarkBlue;
  background: @apply bg-veryLightGray;
}

@media (prefers-color-scheme: dark) {
  color: @apply bg-white;
  background: @apply bg-veryDarkBlue;
}
